[Desktop Entry]
Version=1.0
Terminal=false
Icon=librefundraiser
Type=Application
Categories=Office;
Exec=librefundraiser
Name=LibreFundraiser
MimeType=application/x-librefundraiser
StartupNotify=true
